APP_KEYS=base-cms-key-1,base-cms-key-2
API_TOKEN_SALT=base-cms-token-salt
ADMIN_JWT_SECRET=base-cms-admin-jwt-secret
JWT_SECRET=base-cms-jwt-secret
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=base_cms
DATABASE_USERNAME=base_cms
DATABASE_PASSWORD=base_cms
HOST=0.0.0.0
PORT=1337
CMS_SEED_DEMO_CONTENT=false
